In [1]:
from util import *

In [2]:
util = Util()
model = util.build_model()

Fitting the model

C:\Users\meris\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [3]:
X_train, X_test, y_train, y_test = util.get_data()

In [7]:
X_test.describe()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
count,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000
mean,46.405714,0.765714,3.522286,1.463429,306.285714,80.422857,103.057143,6.462286,3.118286,0.926709
std,16.252709,0.424767,7.245991,2.483516,258.434764,182.711422,171.662216,1.072785,0.792499,0.298005
min,7.000000,0.000000,0.400000,0.100000,63.000000,10.000000,12.000000,2.700000,0.900000,0.300000
25%,35.000000,1.000000,0.800000,0.200000,169.000000,24.000000,27.500000,5.800000,2.600000,0.700000
50%,48.000000,1.000000,1.000000,0.300000,215.000000,37.000000,44.000000,6.500000,3.100000,0.947064
75%,60.000000,1.000000,2.850000,1.400000,310.000000,58.500000,90.000000,7.150000,3.700000,1.100000
max,84.000000,1.000000,75.000000,12.600000,1630.000000,1680.000000,1050.000000,8.900000,4.900000,1.900000

In [8]:
X_train

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40
335,13,0,0.7,0.1,182,24,19,8.9,4.9,1.20
244,54,1,0.8,0.2,218,20,19,6.3,2.5,0.60
39,47,1,2.7,1.3,275,123,73,6.2,3.3,1.10
543,40,1,1.2,0.6,204,23,27,7.6,4.0,1.10
...,...,...,...,...,...,...,...,...,...,...
360,24,1,0.7,0.2,218,47,26,6.6,3.3,1.00
196,60,1,2.0,1.1,664,52,104,6.0,2.1,0.53
418,50,1,4.2,2.3,450,69,50,7.0,3.0,0.70
216,55,1,0.9,0.2,116,36,16,6.2,3.2,1.00
9,55,1,0.7,0.2,290,53,58,6.8,3.4,1.00

In [6]:
model.predict(X_test)

array([1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1],
      dtype=int64)

In [13]:
model.predict(X_test)

array([1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1],
      dtype=int64)

In [14]:
y_test

4      1
335    1
244    1
39     1
543    1
      ..
360    1
196    1
418    1
216    2
9      1
Name: Diagnosis, Length: 175, dtype: int64